/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif; 
}

.container {
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.box {
    flex: 1;
    border: 1px solid black;
    margin: 10px; 
    position: relative; 
}

.inner-box {
    border: 1px solid black;
    padding: 20px; 
    background-color: grey; 
    position: relative; 
}

h1 {
    margin-top: 30px;
    font-size: 24px; 
    text-align: center;
}

h4 {
    font-size: 125%;
    position: absolute;
    top: 0; 
    right: 0; 
    margin: 0; 
    padding: 5px; 
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 150px;
    text-align: center;
  
}
.chick{
    background-color: brown;
}
.beef{
    background-color: pink;
}
.sushi{
    background-color: lightsalmon;
}
p {
    font-size: 16px; 
    padding-top: 18px;
}

@media (max-width: 991px) {
    .box {
        flex-basis: calc(50% - 20px); 
    }

    .box:nth-child(3) {
        flex-basis: 100%; 
    }
}

@media (max-width: 767px) {
    .box {
        flex-basis: 100%; 
    }
}
